{{! Form default behavior }}
<div class="mt-4">

 {{!-- method: submit với phương thức nào, action: submit ở URL nào --}}
  <form method="GET" action="/news">
    <div class="form-group">
      <label for="search-input">Key Search </label>
      {{! <input name="fullname" type="text" />
      <input name="age" type="number" /> }}

      <input
        name="q"
        type="text"
        class="form-control"
        id="search-input"
        placeholder="Enter Key Search ..."
      />

    </div>

    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>